/.phpunit.cache
/node_modules
/vendor

/public/build
/public/hot
/public/storage
/public_html/storage
/public_html/hot
/storage/*.key
/storage/pail

.env
.env.backup
.env.production
/auth.json
auth.json

bootstrap/compiled.php
app/storage/

Homestead.json
Homestead.yaml
/.vagrant

/.idea
/.vscode
/.nova
/.zed
/.fleet

npm-debug.log
yarn-error.log

.phpactor.json
.phpunit.result.cache